{% macro footer() %}

<div class="p-5 my-3 bg-light rounded row" id="page-footer">
    <div class="col-md-1"></div>

    <div class="col-md-5">
      <figure>
        <blockquote class="blockquote">
          <p>
            Use unique passwords for every site or account to minimize the risk
            of cascading compromised accounts.
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">Nick Falcone</figcaption>
      </figure>
    </div>

    <div class="col-md-5">
      <p class="text-secondary">
        CodewizardsHQ provies the most fun and engaging online, live coding
        experience for kids and teens ages 8-18.
      </p>
      <a class="btn btn-secondary" href="https://www.codewizardshq.com/">
        Start your coding journey today!
      </a>
    </div>
  </div>


{% endmacro %}