{% extends 'layout.html' %}

{% block styles %}
    <link href='{{url_for("static", filename="stylesheets/survey.css")}}' rel='stylesheet'/>
{% endblock %}

{% block content %}
<!-- Update this block to update what html content is rendered -->
<div class="d-flex justify-content-center container-lg flex-grow-1" style="min-height: 100vh;">
  <div class="gx-1 page_text align-items-center ">
    <div class="col text-center p-5">
      <img src="../static/images/survey_form_logo_light.png">
      <h1 class="mt-2">Cybersecurity Survey</h1>
      <p id="image_subtext" class="mt-4">We are collecting some information to better understand users' awareness of cybersecurity.</p>
      <a href="{{url_for('survey.survey')}}"><button type="button" class="btn btn-outline-info fw-bold mt-3 em-wider" style="width:150px;">Back to results</button></a>
    </div>

    <div id="questions-container" class="col p-5 pt-0">
    <form method="post" action="{{ url_for('survey.surveyform_post') }}">
      <div class="col p-3 border rounded mt-4">      
        <div class="questions">
          <label for="form-check">Which of the following best describes your cyber hygiene?</label>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions1" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
              Not very careful online
            </label>
          </div>

          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions1" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Moderatly careful online
            </label>
          </div>

          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions1" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Extremely careful online
            </label>
            
          </div> 
        </div>
      </div>
      <div class="col p-3 border rounded mt-4">
        <div class="questions">
          <label for="form-check">Are your passwords the same for all of your online accounts?</label>        
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions2" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
              All are the same
            </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions2" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Some are the same/minor differences
            </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions2" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              All are different
            </label>
          </div>        
        </div>
      </div>
      <div class="col p-3 border rounded mt-4">
        <div class="questions">
          <label for="form-check">How complex are your existing passwords?</label>     
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions3" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
              Simple
            </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions3" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Moderately complex
            </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions3" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Complex
            </label>
          </div>        
        </div>
      </div>
      <div class="col p-3 border rounded mt-4">
        <div class="questions">
          <label for="form-check">Have you given out personal information online?</label>       
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions4" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
              Never
            </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions4" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Sometimes
            </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions4" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Many times
            </label>
          </div>        
        </div>
      </div>
      <div class="col p-3 border rounded mt-4">
        <div class="questions">
          <label for="form-check">Do you plan on improving your cyber hygiene?</label>        
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions5" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
              No I don't
            </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions5" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Perhaps when I have time
            </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="questions5" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Yes I will
            </label>
          </div>        
        </div>
      </div>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary col p-1 fw-bold em-wider" style="width: 150px; height: 40px;">Submit</button>
      </div>
    </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Delete the scripts block if not needed -->
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock %}